<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}<hr>
            <p id="instruction">Enter the location below, to see the forecast.</p>
            <form id="form-1">
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="msg-1"></p>
            <p id="msg-2"></p>
            <p id="msg-3"></p>
            <p id="msg-4"></p>
        </div>

        {{>footer}}
    <script src="/js/app.js"></script>
    </body>

</html>