body{
    color: #333333;
    font-family: serif;
    margin: 0 auto;
    max-width: 50%;

    display:flex;
    flex-direction: column;
    min-height: 70vh;
}

.main-content{
    flex-grow: 1;
}

h1,h2{
    color:#3b3535e1;
}

footer{
    margin-top: 20px;
    text-transform: capitalize;
}

header{
    margin: auto;
    margin-bottom: 20px;

}
header a{
    text-decoration: none;
    margin-right: 20px;
    font-size: medium;
    font-size: 18px;
    color:#5677c2e1}

#form-1{
    margin-top : 20px;
}
#instruction{
    margin: 10px 0px 20px 0px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888;
    background: #888;
    color: white🧮 ;
    padding : 8px;
}